*{
	padding: 0;
	margin: 0;
	font-family: Barlow, 微軟正黑體, san-serif;
}

.container-fluid{
	overflow-x: hidden;
}

a{
	text-decoration: none !important;
}

/*nav-bar*/
.row .nav-bar{
	width: 100vw;
	padding: 5px 20px;
	background: rgba(255, 255, 255, 0.9);
	position: fixed;
	left: 0;
	color: rgba(0,0,0,.6);
	list-style:none;
	box-shadow:0 0 8px 0 rgba(0,0,0,.15);
	z-index: 1000;
}

.menu{
	float: right;
	font-size: 22px;
}

.menu ul li,
.menu ul{
	padding-top: 3px;
	padding-left: 30px;
	display: inline-block;
	margin-bottom: 0;
	letter-spacing: 0.1em;

}

.menu ul{
	float: right;
}

.menu a{
	color: rgba(0,0,0,.6);
}

.logo img{
	margin: 3px 0 3px 5px;
}

/*漢堡下拉選單按鍵*/
.drop{
	position: absolute;
	top: 16px;
	border: none;
	background: transparent;
	color: #ccc;
	font-size: 16px;
}

.dropMenu{
	font-size: 24px;
	line-height: 2;
	text-align: center;
	letter-spacing: 3px;
	width: 100vw;
	height: auto;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px 0px;
	color: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: -200px;
	z-index: 10;
	transition: top 0.3s;
}

.dropMenu ul li{
	list-style: none;
}

.dropMenu a{
	color: #555;
}

.dropMenu-collapsed{
	top: 50px;
	left: 50%;
    transform: translateX(-50%);
    list-style: none;
}

.dropdown button{
	position: relative;
	left: 13%;

}

/*banner*/
.bannerBG{
	position: relative;
	background-image: url(../img/bg.png);
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	animation: rotation 8s cubic-bezier(0,-0.2,1,1.54) infinite;
	height: 700px;
}

@keyframes rotation{
	0%, 100%{
		transform: rotate(0deg);
	}
	50%{
		transform: scale(1.1) rotate(-5deg);
	}
}

.banner{
	display: block;
/*	background-image: url(../img/bg.png);*/
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	height: 700px;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.banner .bgText{
	position: absolute;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);
    width: 37vw;
}

.links{
	position: absolute;
	top: 490px;
	left: 50%;
    transform: translateX(-46%);
}

.links ul, .links ul li{
	list-style: none;
}

.links ul li{
	display: inline-block;
	overflow: hidden;
	margin-right:20px;
	letter-spacing: 2em;
	transition: all 1s ease-in;
}

.links ul li:hover{
	transform: rotate(360deg);
	opacity: 0.9;
}


/*about*/
.about{
	padding-top: 15px;
	display: block;
	position: static;
	background-color: #fff;
}

.about h2, .about p {
	padding-left: 60px;
	text-align: center;
	line-height: 2;
}

.about h2, .work h2, .ui h2{
	color: #666;
	font-size: 40px;
	letter-spacing: 0.05em;
}

.about p {
	font-size: 20px;
	line-height: 2;
}

.about img{
	position: absolute;
	top: 112px;
    left: 40%;
}

/*work*/

.work{
	margin-top: 80px;
	text-align: center;
}

.work h4{
	font-size: 35px;
	letter-spacing: 0.05em;
	color: #888;
	padding-bottom: 30px;
}

.boxes{
	margin: 20px -26% 8px 4%;
	position: relative;
}

.box13{
	height: 300px;
	background-image: url(../img/cover-2.png);
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

.box14{
	height: 300px;
	background-image: url(../img/12coverlymma.png);
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

.box15{
	height: 300px;
	background-image: url(../img/cover001.png);
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

.box16{
	height: 300px;
	background-image: url(../img/buddha.png);
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

.box17{
	height: 300px;
	background-image: url(../img/minimal_linkedin.png);
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

.box18{
	height: 300px;
	background-image: url(../img/PS_AppUI_1.png);
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

.box1{
	height: 300px;
	background-image: url(../img/musicplayer01.1.jpg);
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

.box1 > div, .box2 > div, .box3 > div, .box4 > div, .box5 > div, .box6 > div, .box13 > div, .box14 > div, .box15 > div, .box16 > div , .box17 > div , .box18 > div{
	position: absolute;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 15px;
	color: transparent;
	background-color: rgba(0, 0, 0, 0);
	transition: 0.5s;
	text-align: center;
	line-height: 300px;
}

.box1 > div > h3, .box2 > div > h3 , .box3 > div > h3, .box4 > div > p, .box5  > div > h3, .box6 > div > p, .box13 > div > h3, .box14 > div > h3 , .box15 > div > h3, .box16 > div > h3, .box17  > div > h3, .box18 > div > h3{
	margin-top: 0 !important;
	line-height: 300px;
	font-weight: 400;
}

.box1 > div:hover, .box2 > div:hover, .box3 > div:hover, .box4 > div:hover, .box5 > div:hover, .box6 > div:hover,  .box13 > div:hover, .box14 > div:hover, .box15 > div:hover, .box16 > div:hover, .box17 > div:hover, .box18 > div:hover{
	background: rgba(0 ,0 ,0 , 0.2);
	color: #fff;
}

.box4 > div > p, .box6 > div > p{
	font-size: 18px;
}

.box2{
	height: 300px;
	background-image: url(../img/poster.png);
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}


.box3{
	height: 300px;
	background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/468a8d41663009.57b520b00223a.gif);
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

.work1{
	margin-top: 10px;
}

.box4{
	height: 300px;
	background-image: url(../img/poster3.png);
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

.box5{
	height: 300px;
	background-image: url(../img/cover.png);
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}


.box6{
	height: 300px;
	background-image: url(../img/poster2.png);
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

.btn1, .btn6{
	text-align: center;
}

.btn1 button{
	border: none;
	border-radius: 5px;
	background-color: #5953A5;
	height: 45px;
	margin: 35px auto;
	padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    cursor: pointer;
    transition: all .3s ease-in;
}

.btn1 button:hover, .btn6 button:hover{
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);
	cursor: pointer;
	transform: translateY(-5px);
}

.btn1 p, .btn6 p{
	color: #fff;
	font-size: 1.5em;
}

.webDesign{
	margin-top: 35px;
}

.webDesign h3{
	font-size: 35px;
	letter-spacing: 0.05em;
	text-align: center;
	color: #888;
}

.webDesign p{
	text-align: center;
	font-size: 20px;
	color: #555;
}

.web1, .web2, .web3{
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
}

.web1 h3, .web1 p{
	padding: 0 100px 20px 100px;
}

.web1 p{
	line-height: 2;
	font-size: 20px;
	color: #fff;
}

#btn2 p{
	line-height: 0;
	padding: 0;
}

.web1 img{
	padding: 30px 0 25px 0;
	width: 250px;
}

.box7{
	height: 500px;
	background-image: url(../img/demo01.gif);
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

#btn2{
	padding-top: 35px;
	text-align: center;
}

#btn2 button{
	border: none;
	border-radius: 5px;
	background-color: #CB1B45;
	height: 45px;
	margin: 0 auto;
    padding-top: 0.5em;
    cursor: pointer;
    transition: all .3s ease-in;
}

#btn2 button:hover{
	box-shadow: 0 0 8px 0 rgba(255,255,255,0.5);
	cursor: pointer;
	transform: translateY(-5px);
}

#btn2 button p{
	color: #fff;
	font-size: 1.5em;
	padding-left: 10px;
	padding-right: 10px;
}

.web2 h3, .web3 h3{
padding-top: 25px;
font-weight: 400;
letter-spacing: 0.15em;
}

.web2 h3{
	color: #fff;
}

.box8{
	height: 500px;
	background-image: url(../img/marine.gif);
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}


.box9{
	height: 500px;
	background-image: url(../img/tea.gif);
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

/*ui design*/
.uiWork1 img{
	height: 600px;
	padding-top: 20px;
}

.ui h3{
	font-size: 35px;
	color: #888;
	letter-spacing: 0.05em;
	padding-bottom: 30px;
}

.uiWork1 p{
	line-height: 2;
	font-size: 20px;
	padding: 0 110px 20px 110px;
}
.uiWork1 h3{
	font-size: 24px;
	color: #555;
	letter-spacing: 0.05em;
	padding-bottom: 25px;
}

.btn5{
	padding-top: 20px;
}

.btn5 button, .btn6 button{
	border: none;
	border-radius: 5px;
	background-image: linear-gradient(to right, #48c6ef 0%, #6f86d6 100%);
	height: 45px;
	margin: 0 auto;
	padding-left: 2em;
        padding-right: 2em;
        padding-top: 0.5em;
        cursor: pointer;
        transition: all .3s ease-in;
}

.btn6 button{
	margin: 60px auto 40px auto;
}

.btn5 button:hover{
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);
	cursor: pointer;
	transform: translateY(-5px);
}

.btn5 p{
	color: #fff;
	font-size: 1.5em;
}

/*hand lettering*/
.handletter, .ui{
	padding-top: 50px;
	text-align: center;
}

.handletter h3{
	font-size: 35px;
	color: #888;
	letter-spacing: 0.05em;
	padding-bottom: 30px;
}

.box10{
	height: 300px;
	background-image: url('../img/handletter1.jpg');
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

.box11{
	height: 300px;
	background-image: url('../img/img3.jpg');
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

.box12{
	height: 300px;
	background-image: url('../img/img2.jpg');
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

.btn3{
	text-align: center;
	padding: 40px 0;
}

.btn3 button{
	border: none;
	border-radius: 5px;
	background-image: linear-gradient(90deg, #fccb90 0%, #d57eeb 100%);
	height: 45px;
	margin: 0 auto;
    padding-top: 0.5em;
    cursor: pointer;
    transition: all .3s ease-in;
}

.btn3 button p{
	color: #fff;
	font-size: 1.5em;
	padding-left: 10px;
	padding-right: 10px;
}

.btn3 button:hover{
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
	transform: translateY(-5px);
}
/*contact*/

.info, .btn4{
	text-align: center;
	background-color: #fdfbfb;
}

.info h3{
	font-size: 40px;
	color: #888;
	padding-top: 25px;
	padding-bottom: 15px;
	letter-spacing: 0.05em;
}

.info p{
	font-size: 20px;
	line-height: 1.5;
}

.btn4{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 70px;
}


.btn4 button{
	border: none;
	border-radius: 5px;
	background-image: linear-gradient(to left, #fbc2eb 0%, #a6c1ee 100%);
	background-position: 0 0;
	background-repeat: no-repeat;
	height: 45px;
	margin: 0 auto;
    padding-top: 0.5em;
    cursor: pointer;
    transition: all .3s ease-in;
}

.btn4 button{
	border: none;
	border-radius: 5px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 5s ease infinite;
	-moz-animation: Gradient 5s ease infinite;
	animation: Gradient 5s ease infinite;
	height: 45px;
	margin: 0 auto;
	padding-top: 0.5em;
	cursor: pointer;
	transition: all .3s ease-in;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.btn4 button p{
	color: #fff;
	font-size: 1.5em;
	padding-left: 10px;
	padding-right: 10px;
}

.btn4 button:hover{
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
	transform: translateY(-5px);
}

.footer{
	padding-top: 20px;
	text-align: center;
    transform: translateX(2.5%);
	padding-bottom: 30px;
}

.footer ul li,
.footer ul{
	font-size: 16px;
	padding-top: 3px;
	padding-right: 30px;
	display: inline-block;
	margin-bottom: 0;
	letter-spacing: 0.1em;
	background-image: linear-gradient(120deg, #0250c5 0%, #d43f8d 100%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.footer li:hover{
	opacity: 0.7;
}


.rights{
	text-align: center;
	padding-bottom: 50px;
	color: #888;
}


/*響應式設計-手機*/
@media screen and (max-width: 767px) {
	.banner{
		height: 330px;
	}

	.bannerBG{
		height: 320px;
	}
	.banner .bgText {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 40vw;
	}

	.about p{
	padding: 5px;
	font-size: 20px;
	}

	.about h2{
	padding: 0;
	}

	.work{
		margin-top: 40px;
	}

	.boxes{
		margin: 0;
	}

	.box{
		padding-bottom: 10px;
	}

	.webDesign p{
	text-align: center;
	font-size: 20px;
	color: #555;
    padding: 10px 15px;
    margin: 0 15px;
	}

	.web1, .web2, .web3 {
    padding: 20px 15px 40px 15px;
    text-align: center;
	}

	#btn2{
		padding-top: 20px;
	}

	.box7, .box8, .box9{
	height: 300px;
	}

	.web1 h3{
	padding: 0 20px;
	}

	.web1 h3 img{
	padding-top: 0;
	width: 180px;
	}
	
	.web1 img{
	padding: 0 0 25px 0;
	}

	.web1 p{
	padding: 0 10px;
	font-size: 20px
	}

	.web2 h3, .web3 h3 {
    padding: 0 10px;
    margin-top: -10px;
	}	

	.footer{
	margin-left: 18px;
	}

	.info p{
	padding: 0 15px;
	}

	.btn3, .btn4{
		padding-bottom: 60px;
	}

	.ui{
		padding-top: 25px;
	}
	
	.ui h3{
		padding-bottom: 20px;
	}

	.uiWork1 h3{
		padding: 0 10px 10px 10px;

	}

	.uiWork1 p{
		font-size: 20px;
		padding: 0px 20px;
	}

	.ui video{
	 width: 300px;
	}	

	.uiWork1 img{
	height: 225px;
	padding-top: 0;
	}

	.handletter{
	padding-top: 25px;
	text-align: center;
	}

	.footer ul li,
	.footer ul{
	padding-right: 18px;
	}
}

/*tablets*/
@media screen and (min-width: 768px) and (max-width: 992px){
	.banner{
		height: 450px;
	}

	.bannerBG{
		height: 450px;
	}

	.banner .bgText {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 35vw;
	}

	.links{
	position: absolute;
	top: 305px;
	left: 50%;
    transform: translateX(-39%);
   	width: 32vw;
	}

	.links ul li img{
	width: 40px;
	}

	.links ul li{
	display: inline-block;
	overflow: hidden;
	margin-right: 10px;
	letter-spacing: 2em;
	}

	.about img{
		top: 108px;
		width: 200px;
	}

	.about p{
	padding-left:25px;
	font-size: 18px;
	}

	.about h2{
	padding: 0;
	}

	.work{
		margin-top: 40px;
	}

	.boxes{
		margin: 0;
	}

	.box{
		padding-bottom: 10px;
	}

	.box1, .box2, .box3, .box4, .box5, .box6, .box10, .box11, .box12{
		height: 250px;
	}

	.webDesign{
		margin-top: 10px;
	}

	.webDesign p{
	text-align: center;
	font-size: 22px;
	color: #555;
	padding: 10px 20px 10px 20px;
	}

	.web1, .web2, .web3 {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
	}

	#btn2{
		padding-top: 20px;
	}

	.box7, .box8, .box9{
	height: 300px;
	}

	.web1 h3{
	padding: 0 20px;
	}

	.web1 h3 img{
	padding-top: 15px;
	width: 180px;
	}

	.web1 p{
	padding: 0 10px;
	}

	.web2 h3, .web3 h3{
    padding: 30px 10px;
    margin-top: -10px;
	}

	.ui h3{
		padding-bottom: 30px;

	}

	.uiWork1 h3{
	  padding-bottom: 10px;
	}

	.uiWork1 p{
		font-size: 22px;
		padding: 10px 15px 0 15px;
	}

	.ui video{
	 width: 650px;
	}	

	.uiWork1 img{
	height: 400px;
	padding-top: 0;
	}

	.footer{
	margin-left: 18px;
	}

	.info p{
	padding: 0 10px;
	}

	.btn3, .btn4, .btn5{
		padding-bottom: 60px;
	}
	
}

@media screen and (min-width: 993px) and (max-width: 1200px){
	.bannerBG{
		height: 650px;
	}
	.banner .bgText {
    	width: 28vw;
	}

	.links{
		top: 370px;
	}
}

@media screen and (min-width: 1280px) {
	.bannerBG{
		height: 800px;
	}
	.banner .bgText {
    	width: 28vw;
	}

	.links{
		top: 415px;
	}
}

@media screen and (min-width: 1920px) and (max-width: 2000px) {
	.bannerBG{
		height: 700px;
	}
	.links {
    top: 512px;
	}

}
